.post-grid {
    justify-content: space-evenly;
}

.burst {
    animation: pop 0.4s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth.css-16htz67-MuiPaper-root-MuiDialog-paper {
    width: 80% ;
    max-width: 80%;
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-1avojw1-MuiCardMedia-root {
    max-height: fit-content;
}